#parse('_pagelet/constant.html')
<!DOCTYPE html>
<html>
<head>
#parse('_pagelet/header.html')
<title>2016年动画喜剧《阿里巴巴2所罗门封印》HD国语中字 | 电影 | 大杂烩</title>
<link rel='stylesheet' type='text/css' media='screen' href='http://www.foreworld.net/public/site/css/article.css?v3' />
<link rel='stylesheet' type='text/css' media='screen' href='http://v3.bootcss.com/assets/css/docs.min.css' />
</head>
<body>
	#parse('portal/1.0.1/_pagelet/top_banner.html')
	<header id='header'></header>
	<section class='container'>
		<div class='row'>
			<div class='col-sm-12 col-md-8'>
				#parse('portal/1.0.1/_pagelet/top_message.html')
				<div class='panel panel-default' style='box-shadow: 0 0 5px #c2c2c2;'>
					<div class='panel-body article'>
						<ol class='breadcrumb'>
							<li>
								<i class='fa fa-home fa-fw'></i>
								<a href='/'>首页</a>
							</li>
							<li>电影</li>
							<li class='active'><a href='/movie/${params.name}/'>2016年动画喜剧《阿里巴巴2所罗门封印》HD国语中字</a></li>
						</ol>

						<div class='title'>
							<h2><a href='/archive/4a235aba3816398c1de14833.html'>《阿里巴巴2所罗门封印》</a></h2>
						</div>
						<div class='tag ta nav'>
							<span class='label label-default'>
								<span class='glyphicon glyphicon-calendar'></span>
								<a title='创建于 2009-06-01 12:36:10.000'>2009-06-01</a>
							</span>
															<span class='label label-default'>
								<span class='glyphicon glyphicon-user'></span>
								<a title='查看 我哪知道 的全部文章' href='/u/foreworld/'>我哪知道</a>
							</span>
							<span class='label label-default'>
								<span class='glyphicon glyphicon-eye-open'></span>
								<a>5,301人</a>
							</span>
						</div>
						<figure class='thumbnail clearfix'>
							<img src='http://i-7.vcimg.com/crop/fcd6a9c0a227ca8e36bad6f4d925358c82145(600x)/thumb.jpg' alt='/public/udata/foreworld/20140207/134411.jpg'>
						</figure>

						<style>
						.article .thumbnail {
							box-shadow: none;
							border: 0;
						}
						</style>

						<div class="content">

							<div class="bs-callout bs-callout-info">			
								<p><b>片名</b>：致命电话 Cell</p>
								<p><b>别名</b>：手机 / 科技浩劫</p>
								<p><b>年代</b>：2016</p>
								<p><b>国家</b>：美国</p>
								<p><b>类型</b>：科幻 惊悚 恐怖</p>
								<p><b>语言</b>：英语</p>
								<p><b>上映日期</b>：2016-07-08</p>
								<p><b>IMDB</b>：<a href='http://www.imdb.com/title/tt0775440'>http://www.imdb.com/title/tt0775440</a></p>
								<p><b>时长</b>：98分钟</p>
								<p><b>导演</b>：托德・威廉姆斯</p>
								<p><b>主演</b>：
									<ul>
										<li>塞缪尔・杰克逊</li>
										<li>约翰・库萨克</li>
										<li>伊莎贝拉・弗尔曼</li>
										<li>斯泰西・基齐</li>
										<li>洛伊德・考夫曼</li>
										<li>约书亚・米克尔</li>
										<li>格里芬・弗里曼</li>
										<li>维布尔・弗利茨杰拉德</li>
										<li>雷・埃尔南德斯</li>
										<li>E・罗杰・米切尔</li>
									</ul>
								</p>
								<p><b>简介</b>：哥哥王炳生（何润东 饰），弟弟陈铁金（李东学 饰），他们曾是相依为命、甘苦与共的兄弟。甚至哥哥炳生为弟弟铁金顶罪入狱十年，满身的伤疤与玩世不恭的态度是这十年的烙印，不变的却是兄弟之间的感情。不料在命运的捉弄下，两人在兵荒马乱的世界里失散，走上了不同的人生道路…… 　　再度相逢时，曾经的患难兄弟已经势不两立。手足情深与家国信仰的冲突，令昔日兄弟成为生死之敌，最终展开了一场生死较量…</p>
							</div>

							<style>
							.content li {
								list-style-type: none;
							}
							</style>

							<div class="bs-callout bs-callout-warning">
								<h4>第一季：</h4>
								<p><a style='text-decoration:underline' href='ftp://c:c@piaohua888.com:21/致命电话BD中英双字[飘花www.piaohua.com].rmvb'>ftp://c:c@piaohua888.com:21/致命电话BD中英双字[飘花www.piaohua.com].rmvb</a></p>
								<p><a style='text-decoration:underline' href='ftp://c:c@piaohua888.com:22/致命电话BD中英双字[飘花www.piaohua.com].rmvb'>ftp://c:c@piaohua888.com:22/致命电话BD中英双字[飘花www.piaohua.com].rmvb</a></p>
								<p><a style='text-decoration:underline' href='ftp://c:c@piaohua888.com:23/致命电话BD中英双字[飘花www.piaohua.com].rmvb'>ftp://c:c@piaohua888.com:23/致命电话BD中英双字[飘花www.piaohua.com].rmvb</a></p>
								<h4>第二季：</h4>
							</div>

							<!--div class="bs-callout bs-callout-danger">
								<h4>在线观看：</h4>
								<p><a href='#'><img src='/public/assets/images/logo.ico' style='width:24px'> 爱奇艺</a></p>
								<p><a href='#'><img src='http://www.verycd.com/favicon.ico?v=2' style='width:24px'> 优酷</a></p>
							</div-->
						</div>

						<div class='alert alert-success copyright'>
							<p>版权所属：<a href='http://www.foreworld.net/'>洪荒世界</a></p>
							<p>原文地址：<a href='/archive/4e16b6c53816398c1de1482d.html' title='win7 安装 mysql'>http://www.foreworld.net/archive/4e16b6c53816398c1de1482d.html</a></p>
							<p>转载时必须以链接形式注明原始出处及本声明。</p>
						</div>

						<div class='alert alert-success page'>
								<p>上篇：<a href='/archive/4a442c113816398c1de1482f.html' title='创建于 2009-06-26 10:01:53.000'>倒霉！！！</a></p>
								<p>下篇：<a href='/archive/53ec723c96644458278a570e.html' title='创建于 2014-08-14 16:24:28.000'>什么都是新的，测试一下吧！：）？</a></p>							
						</div>

						<div>
							<a href='javascript:;'>
								<img src='/public/assets/images/share/16x16/twitter.png'></a>
							<a href='javascript:;'>
								<img src='/public/assets/images/share/16x16/qqwb.png'></a>
							<a href='javascript:;'>
								<img src='/public/assets/images/share/16x16/sinawb.png'></a>
							<a href='javascript:;'>
								<img src='/public/assets/images/share/16x16/baidu.png'></a>
						</div>
					</div>
				</div>

				<div class='alert alert-danger fav ta'>
					<div class='glyphicon glyphicon-heart'></div> 您可能也喜欢
				</div>

				<div class='col-sm-12 col-md-4'>
					<div class='thumbnail fav3'>
						<div class='caption'>
							<div>
								<a href='/archive/4a0108cc3816398c1de148a1.html' title='创建于 2009-05-06 11:49:32.000'>
									<div>X战警 1</div>
								</a>
							</div>
							<p>空间申请了好久，都没有用它，感觉很浪费，我的地盘我做主，再也不用看别人脸色了！！</p>
							<div class='clearfix'>
								<a class='btn btn-danger pull-right' role='button' href='/archive/4a0108cc3816398c1de148a1.html' title='详细阅读 我的地盘我做主'>阅读全文</a>
							</div>
						</div>
					</div>
				</div><div class='col-sm-12 col-md-4'>
					<div class='thumbnail fav3'>
						<div class='caption'>
							<div>
								<a href='/archive/4a1358133816398c1de14885.html' title='创建于 2009-05-20 09:08:35.000'>
									<div>X战警 2</div>
								</a>
							</div>
							<p>都备案好几回了，都没成功！这次备案已经好几天了，还没通过，也懒的写啥了！继续等待。。。</p>
							<div class='clearfix'>
								<a class='btn btn-danger pull-right' role='button' href='/archive/4a1358133816398c1de14885.html' title='详细阅读 备案！备案！备案！'>阅读全文</a>
							</div>
						</div>
					</div>
				</div><div class='col-sm-12 col-md-4'>
					<div class='thumbnail fav3'>
						<div class='caption'>
							<div>
								<a href='/archive/4a14d7783816398c1de1487f.html' title='创建于 2009-05-21 12:24:24.000'>
									<div>X战警 3</div>
								</a>
							</div>
							<p>哥哥王炳生（何润东 饰），弟弟陈铁金（李东学 饰），他们曾是相依为命、甘苦与共的兄弟。甚至哥哥炳生为弟弟铁金顶罪入狱十年，满身的伤疤与玩世不恭的态度是这十年的烙印，不变的却是兄弟之间的感情。不料在命运的捉弄下，两人在兵荒马乱的世界里失散，走上了不同的人生道路…… 　　再度相逢时，曾经的患难兄弟已经势不两立。手足情深与家国信仰的冲突，令昔日兄弟成为生死之敌，最终展开了一场生死较量…</p>
							<div class='clearfix'>
								<a class='btn btn-danger pull-right' role='button' href='/archive/4a14d7783816398c1de1487f.html' title='详细阅读 昨天给老婆买凉鞋'>阅读全文</a>
							</div>
						</div>
					</div>
				</div><div class='col-sm-12 col-md-4'>
					<div class='thumbnail fav3'>
						<div class='caption'>
							<div>
								<a href='/archive/4a14d7783816398c1de1487f.html' title='创建于 2009-05-21 12:24:24.000'>
									<div>X战警 4</div>
								</a>
							</div>
							<p>靠！！！为啥刚才写的全没了。。。不写了。。。靠！！！为啥刚才写的全没了。。。不写了。。。靠！！！为啥刚才写的全没了。。。不写了。。。靠！！！为啥刚才写的全没了。。。不写了。。。靠！！！为啥刚才写的全没了。。。不写了。。。靠！！！为啥刚才写的全没了。。。不写了。。。靠！！！为啥刚才写的全没了。。。不写了。。。靠！！！为啥刚才写的全没了。。。不写了。。。</p>
							<div class='clearfix'>
								<a class='btn btn-danger pull-right' role='button' href='/archive/4a14d7783816398c1de1487f.html' title='详细阅读 昨天给老婆买凉鞋'>阅读全文</a>
							</div>
						</div>
					</div>
				</div>

				<div class='clearfix' id='comment'>
						<!-- 多说评论框 start -->
						<div class='ds-thread' data-thread-key='53ec723c96644458278a570e' data-title='《阿里巴巴2所罗门封印》' data-url='http://www.foreworld.net/archive/53ec723c96644458278a570e.html'></div>
						<!-- 多说评论框 end -->
						<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
						<script type='text/javascript'>
						var duoshuoQuery = {
							short_name: 'foreworld'
						};
						$(function(){
							var ds = document.createElement('script');
							ds.type = 'text/javascript';
							ds.async = true;
							ds.src = (document.location.protocol === 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
							ds.charset = 'UTF-8';
							(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
						});
						</script>
						<!-- 多说公共JS代码 end -->
					</div>
			</div>
			<div class='col-sm-12 col-md-4'>
				#parse('portal/1.0.1/_pagelet/panel_movie_material.html')
			</div>
		</div>
	</section>
	#parse('portal/1.0.1/_pagelet/footer.html')
	#parse('_pagelet/js.html')
</body>
</html>
