#parse('_pagelet/constant.html')
<!DOCTYPE html>
<html>
<head>
#parse('_pagelet/header.html')
<title>${params.movie_material_name}片 | 电影 | 大杂烩</title>
</head>
<body>
	#parse('portal/1.0.1/_pagelet/top_banner.html')
	<header id='header'></header>
	<section class='container'>
		<div class='row'>
			<div class='col-sm-12 col-md-8'>
				#parse('portal/1.0.1/_pagelet/top_message.html')
				<div class='panel panel-default' style='box-shadow: 0 0 5px #c2c2c2;'>
					<div class='panel-body'>
						<ol class='breadcrumb'>
							<li>
								<i class='fa fa-home fa-fw'></i>
								<a href='/'>首页</a>
							</li>
							<li><a href='/movie/'>电影</a></li>
							<li class='active'><a href='/movie/${params.movie_material_id}/'>${params.movie_material_name}片</a></li>
						</ol>

						<div class='row' style='margin-bottom:15px;'>
							<div class="col-sm-12 col-md-12">
								<div class="btn-group btn-group-sm" aria-label="Small button group" role="group">
									<a class="btn #if('hot' == $params.movie_action) btn-danger#else btn-default#end" href='/movie/${params.movie_material_id}/hot/'>热门</a>
									<a class="btn #if('rating' == $params.movie_action) btn-danger#else btn-default#end" href="/movie/${params.movie_material_id}/rating/">评分</a>
									<a class="btn #if('' == $params.movie_action) btn-danger#else btn-default#end" href="/movie/${params.movie_material_id}/">更新</a>
									<a class="btn #if('create' == $params.movie_action) btn-danger#else btn-default#end" href="/movie/${params.movie_material_id}/create/">创建</a>
									<a class="btn #if('release' == $params.movie_action) btn-danger#else btn-default#end" href="/movie/${params.movie_material_id}/release/">上映</a>
								</div>
							</div>
						</div>
						#parse('portal/1.0.1/_pagelet/panel_movie.html')
						#parse('_macro/page.html')
						#m_page(${page[0]}, ${page[1]}, ${page[2]}, ${conf.html.pageSize})
						<div>
							<a href='javascript:;'>
								<img src='/public/assets/images/share/16x16/twitter.png'></a>
							<a href='javascript:;'>
								<img src='/public/assets/images/share/16x16/qqwb.png'></a>
							<a href='javascript:;'>
								<img src='/public/assets/images/share/16x16/sinawb.png'></a>
							<a href='javascript:;'>
								<img src='/public/assets/images/share/16x16/baidu.png'></a>
						</div>
					</div>
				</div>
			</div>
			<div class='col-sm-12 col-md-4'>
				#parse('portal/1.0.1/_pagelet/panel_movie_material_view_count.html')
				#parse('portal/1.0.1/_pagelet/panel_movie_material.html')
			</div>
		</div>
	</section>
	#parse('portal/1.0.1/_pagelet/footer.html')
	#parse('_pagelet/js.html')
</body>
</html>