#parse('_pagelet/constant.html')
<!DOCTYPE html>
<html>
<head>
#parse('_pagelet/header.html')
<title>最近更新 | 大杂烩</title>
</head>
<body>
	#parse('portal/1.0.1/_pagelet/top_banner.html')
	<header id='header'></header>
	<section class='container'>
		<div class='row'>
			<div class='col-sm-12 col-md-8'>
				#parse('portal/1.0.1/_pagelet/top_message.html')
				<div class='panel panel-default' style='box-shadow: 0 0 5px #c2c2c2;'>
					<div class='panel-body'>
						<ol class='breadcrumb'>
							<li>
								<i class='fa fa-home fa-fw'></i>
								<a href='/'>首页</a>
							</li>
							<li class='active'><a href='/new/'>最近更新</a></li>
						</ol>
						<div id='archives'>
							#parse('portal/1.0.1/_pagelet/new_movie.html')
							#parse('portal/1.0.1/_pagelet/new_tv.html')
						</div>
						<div>
							<a href='javascript:;'>
								<img src='/public/assets/images/share/16x16/twitter.png'></a>
							<a href='javascript:;'>
								<img src='/public/assets/images/share/16x16/qqwb.png'></a>
							<a href='javascript:;'>
								<img src='/public/assets/images/share/16x16/sinawb.png'></a>
							<a href='javascript:;'>
								<img src='/public/assets/images/share/16x16/baidu.png'></a>
						</div>
					</div>
				</div>
			</div>
			<div class='col-sm-12 col-md-4'>
				#parse('portal/1.0.1/_pagelet/panel_view_count.html')
			</div>
		</div>
	</section>
	#parse('portal/1.0.1/_pagelet/footer.html')
	#parse('_pagelet/js.html')
</body>
</html>